<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Página de Consulta</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style_consultation_page.css">
	<link rel="stylesheet" type="text/css" href="style_footer.css">
	<link rel="stylesheet" type="text/css" href="style_navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
<!--===============================================================================================-->
</head>
<body>
	<header>
        
		{% include "navbar.html" %}

  	</header>

	<div class="limiter">
         

		<div class="container-table">
            
            
			<div class="wrap-table">
				<div id="emptyFields">
					<p></p>
				</div>

				<form action="/sign_in" method="POST" onsubmit="return checkFields(event)">
					<input type="text" name="filter" placeholder="Filtre por Nome ou CPF" ><input type="submit" class="buttonsearch" value="Filtrar" id="buttonFilter">
				</form>
			

				<div class="table" >

					<div class="row header">
						<div id="tableheaderleft" class="cell">
							ID
						</div>
						<div id="tableheader" class="cell" >
							PROPRIETÁRIO
						</div>
						<div id="tableheader" class="cell" >
							CPF
						</div>
						<div id="tableheader" class="cell" >
							ENDEREÇO
						</div>
						<div id="tableheader" class="cell">
							BAIRRO
						</div>
						
						<div id="tableheaderright" class="cell">
							#
						</div>
						
						
					</div>
				
					{% for i in range(0, 3) %}
					<div class="row">
						<div class="cell" data-title="ID">
							1
						</div>
						<div class="cell" data-title="PROPRIETÁRIO">
							Augusto
						</div>
						<div class="cell" data-title="CPF">
							000.000.000-00
						</div>
						<div class="cell" data-title="ENDEREÇO">
							Rua Aquidauna
						</div>
						<div class="cell" data-title="BAIRRO">
							São José
						</div>
						<div class="cell" data-title="MAIS DETALHES">
							<button class="button">Ver</button>
						</div>
					</div>
					{% endfor %}

            	</div>
                 
			</div>
		</div>
	</div>

	{% include "footer.html" %}

	<script src="/scripts_consultation_page.js"></script>
</body>
</html>
