<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>Página de Consulta</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/style_consultation_page.css">
    
<!--===============================================================================================-->
</head>
<body>
	<header>
      <img src="http://placehold.it/2545x1840?text=LOGO" alt="solida_logo">
      <nav>
          <a href="">Início</a>
          <a href="">Sobre</a>
          <a href="">Contato</a>
      </nav>
      <a href="/sign_in">
          <i class="material-icons">account_circle</i>
      </a>
  </header>

	<div class="limiter">
         

		<div class="container-table">
            
            
			<div class="wrap-table">
                <h1 id="title">Faça sua Busca</h1>
                        <form>
                          <input type="text" name="search" placeholder="Digite o nome ou CPF">
                        </form>
					<div class="table">

						<div class="table">

						<div class="row header">
							<div class="cell">
								ID
							</div>
							<div class="cell">
								PROPRIETÁRIO
							</div>
							<div class="cell">
								CPF
							</div>
							<div class="cell">
								ENDEREÇO
							</div>
							<div class="cell">
								BAIRRO
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="ID">
								1
							</div>
							<div class="cell" data-title="PROPRIETÁRIO">
								Augusto
							</div>
							<div class="cell" data-title="CPF">
								000.000.000-00
							</div>
							<div class="cell" data-title="ENDEREÇO">
								Rua Aquidauna
							</div>
							<div class="cell" data-title="BAIRRO">
								São José
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="ID">
								1
							</div>
							<div class="cell" data-title="PROPRIETÁRIO">
								Augusto
							</div>
							<div class="cell" data-title="CPF">
								000.000.000-00
							</div>
							<div class="cell" data-title="ENDEREÇO">
								Rua Aquidauna
							</div>
							<div class="cell" data-title="BAIRRO">
								São José
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="ID">
								1
							</div>
							<div class="cell" data-title="PROPRIETÁRIO">
								Augusto
							</div>
							<div class="cell" data-title="CPF">
								000.000.000-00
							</div>
							<div class="cell" data-title="ENDEREÇO">
								Rua Aquidauna
							</div>
							<div class="cell" data-title="BAIRRO">
								São José
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="ID">
								1
							</div>
							<div class="cell" data-title="PROPRIETÁRIO">
								Augusto
							</div>
							<div class="cell" data-title="CPF">
								000.000.000-00
							</div>
							<div class="cell" data-title="ENDEREÇO">
								Rua Aquidauna
							</div>
							<div class="cell" data-title="BAIRRO">
								São José
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="ID">
								1
							</div>
							<div class="cell" data-title="PROPRIETÁRIO">
								Augusto
							</div>
							<div class="cell" data-title="CPF">
								000.000.000-00
							</div>
							<div class="cell" data-title="ENDEREÇO">
								Rua Aquidauna
							</div>
							<div class="cell" data-title="BAIRRO">
								São José
							</div>
						</div>

                    </div>
                 </div>
			</div>
		</div>
	</div>
	<footer>
  
		<section id="copyright"><h5>Copyright (C) Honey Tecnologia. Todos os direitos reservados.</h5></section>
        
        <section id="contato">
        
			<h4>Contato</h4><br>
			<h5>(74) 9999-9999</h5>
			<h5>ahsajsh@hotmail.com</h5>
        
        </section>
        
	</footer>
</body>
</html>
