<html>

<head>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
    <div class="container">
        <header>
            <img src="http://placehold.it/2545x1840?text=LOGO" alt="solida_logo">
            <nav>
                <a href="">Início</a>
                <a href="">Sobre</a>
                <a href="">Contato</a>
            </nav>
            <a href="/sign_in">
                <i class="material-icons">account_circle</i>
            </a>
        </header>
        <div class="banner">
            <img src="http://placehold.it/2545x1840?text=LOGO" alt="solida_logo">
            <p>Site em construção...</p>
        </div>
    </div>
</body>

</html>