<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style_login_page.css">
    <link rel="stylesheet" href="/style_footer.css">
    <title>Página de Login</title>
</head>
<body>

    <main class="login-page">
      
        <div class="form">
          <img src="http://placehold.it/2545x1840?text=LOGO" alt="solida_logo">
          <form class="login-form" action="/sign_in" method="POST" onsubmit="return checkFields(event)">
            <input type="email" placeholder="Email" name="email"/>
            <input type="password" placeholder="Senha" name="password"/>
                
            <button>Entrar</button>

            <div id="emptyFields">
              <p></p>
            </div>
            
          </form>
        </div>

    </main>
    </div>

    {% include "footer.html" %}

    <script src="/scripts_login_page.js"></script>
</body>

</html>