<div class="navbar">
    <a class="active" href="#" id="logo"><img src="http://placehold.it/2545x1840?text=LOGO" alt="solida_logo"></a>
    <a id="navicon" href="#"><i class="fa fa-fw fa-home" style="font-size:24px;"></i> Inicio</a>
    <a id="navicon" href="#"><i class="fa fa-fw fa-envelope" style="font-size:24px;"></i> Sobre</a>
    <a id="navicon" href="#"><i class="fa fa-fw fa-phone" style="font-size:24px;"></i> Contato</a>
    <a id="usericon" href="#"><i class="fa fa-fw fa-user-circle-o" style="font-size:36px;"></i></a>
</div>